<h2>Comments</h2>
<div class='comment-list'>
  <ul>
    <% @post.comments.each do |c| %>
      <li><%= c.body %></li>
      <ul>
        <% c.comments.each do |d| %>
          <li><%= d.body %></li>
        <% end %>
      </ul>
      <%= render partial: 'shared/comment_form', :locals => { commentable_type: c.class.name, commentable_id: c.id } if current_user %>
    <% end %>
  </ul>
</div>