<h2>Comments</h2>
<ul>
  <% @post.comments.each do |co| %>
    <li><%= co.body %></li>
    <%= render partial: "shared/comment_form", :locals => { commentable_type: co.class.name, commentable_id: co.id } if current_user %>
  <% end %>
</ul>