<h2>Post:</h2>
<div class="well">
  <p>
    <strong>Title:</strong>
    <%= @post.title %>
  </p>
<% if @post.description %>
  <p>
    <strong>Description:</strong>
    <%= @post.description %>
  </p>
<% end %>
</div>

<% if current_user %>
  <%= render "shared/comment_form" %>
<% else %>
  <p>Log in to add comments</p>
<% end %>

<% if @post.comments.any? %>
  <%= render "shared/comment_list" if current_user %>
<% else %>
  <p>No comments yet</p>
<% end %>
