<p id="notice"><%= notice %></p>
<h2>Post:</h2>
<div class="well">
  <p>
    <strong>Title:</strong>
    <%= @post.title %>
  </p>
<% if @post.description %>
  <p>
    <strong>Description:</strong>
    <%= @post.description %>
  </p>
<% end %>
</div>

<%#= render "shared/comment_form" %>

<%# if @post.comments.any? %>
  <%#= render "shared/comment_list" %>
<%# else %>
  <!-- <p>No comments yet</p> -->
<%# end %>
