<p id="notice"><%= notice %></p>

<div class="well">
  <p>
    <strong>Title:</strong>
    <%= @post.title %>
  </p>
<% unless @post.description == "" %>
  <p>
    <strong>Description:</strong>
    <%= @post.description %>
  </p>
<% end %>
</div>